.site {
    margin: 300px auto;
    display: table-row;;
}

.box-1-p {
    background: #fff;
    border-radius: 25px;
    width: 100%;
}

.img-p {
   
    height: 100%;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.text-p {
    height: 50vh;
    width: 100%;
    border-radius: 20px 20px 30px 30px;
}

.text-center-p {
    text-align: center;
}

.text-p.text-center-p {
    display: contents;
}

.box-1-p.box-1-p-404 {
    margin: 0 0 100px 0;
    display: unset;
